{
  "tabWidth": 2,
  "printWidth": 170,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml",
        "bracketSpacing": false
      }
    }
  ]
}
